@*@model IEnumerable<JustBlog.Models.Post>*@
@model PagedList.IPagedList<JustBlog.Models.Post>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}
    <html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Home 2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon
    ============================================ -->
        <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico">

        <!-- Google Fonts
    ============================================ -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

        <!-- Bootstrap CSS
    ============================================ -->
        <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
        <!-- font-awesome CSS
    ============================================ -->
        <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
        <!-- owl.carousel CSS
    ============================================ -->
        <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
        <link rel="stylesheet" href="~/Content/css/owl.theme.css">
        <link rel="stylesheet" href="~/Content/css/owl.transitions.css">
        <!-- meanmenu CSS
    ============================================ -->
        <link rel="stylesheet" href="~/Content/css/meanmenu.css">
        <!-- normalize CSS
    ============================================ -->
        <link rel="stylesheet" href="~/Content/css/normalize.css">
        <!-- main CSS
    ============================================ -->
        <link rel="stylesheet" href="~/Content/css/main.css">
        <!-- style CSS
    ============================================ -->
        <link rel="stylesheet" href="~/Content/style.css">
        <!-- responsive CSS
    ============================================ -->
        <link rel="stylesheet" href="~/Content/css/responsive.css">
        <!-- modernizr JS
    ============================================ -->
        <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="home-1">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <!-- slider-area start -->
        <div id="slider" class="slider-area">
            <div id="main-carousel" class="slider-wrap">
                <div class="single-slide">
                    <a href="#"><img src="~/Content/img/home-2/slider/1.jpg" alt="Slide Image" /></a>
                    <div class="slide-text-container text-center">
                        <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                    </div>
                </div><!-- /.single-slide -->
                <div class="single-slide">
                    <a href="#"><img src="~/Content/img/home-2/slider/2.jpg" alt="Slide Image" /></a>
                    <div class="slide-text-container text-center">
                        <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                    </div>
                </div><!-- /.single-slide -->
                <div class="single-slide">
                    <a href="#"><img src="~/Content/img/home-2/slider/3.jpg" alt="Slide Image" /></a>
                    <div class="slide-text-container text-center">
                        <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                    </div>
                </div><!-- /.single-slide -->
                <div class="single-slide">
                    <a href="#"><img src="~/Content/img/home-2/slider/4.jpg" alt="Slide Image" /></a>
                    <div class="slide-text-container text-center">
                        <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                    </div>
                </div><!-- /.single-slide -->
                <div class="single-slide">
                    <a href="#"><img src="~/Content/img/home-2/slider/5.jpg" alt="Slide Image" /></a>
                    <div class="slide-text-container text-center">
                        <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                    </div>
                </div><!-- /.single-slide -->
            </div><!-- /#main-carousel -->
        </div>
        <!-- slider-area end -->
        <!-- main-content-area start -->
        <div id="main-content" class="main-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
                        <div class="sidebar-area fix">
                            <div class="single-sidebar-widget">
                                <h6 class="widget-title">about me</h6>
                                <div class="sidebar-content about-me">
                                    <div class="my-photo">
                                        <a href="#"><img class="img-circle" src="~/Content/img/sidebar/me.jpg" alt="My Image" /></a>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consecteturs adipisicing elit, sed do
                                        eiusmod tempor incididunt labore et dolore aliqua. Ut enim ad minim veniam,
                                    </p>
                                </div><!-- /.sidebar-content -->
                            </div><!-- /.single-sidebar-widget -->
                            <div class="single-sidebar-widget">
                                <h6 class="widget-title">follow me on</h6>
                                <div class="sidebar-content">
                                    <div class="social-links-area">
                                        <div class="single-icon">
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                                <p>Facebook</p>
                                            </a>
                                        </div><!-- /.single-icon -->
                                        <div class="single-icon">
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                                <p>Twitter</p>
                                            </a>
                                        </div><!-- /.single-icon -->
                                        <div class="single-icon">
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                                <p>Google Plus</p>
                                            </a>
                                        </div><!-- /.single-icon -->
                                        <div class="single-icon">
                                            <a href="#">
                                                <i class="fa fa-pinterest"></i>
                                                <p>Pinterest</p>
                                            </a>
                                        </div><!-- /.single-icon -->
                                        <div class="single-icon">
                                            <a href="#">
                                                <i class="fa fa-rss"></i>
                                                <p>RSS</p>
                                            </a>
                                        </div><!-- /.single-icon -->
                                        <div class="single-icon">
                                            <a href="#">
                                                <i class="fa fa-dribbble"></i>
                                                <p>Dribbble</p>
                                            </a>
                                        </div><!-- /.single-icon -->
                                        <div class="single-icon">
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                                <p>Instagram</p>
                                            </a>
                                        </div><!-- /.single-icon -->
                                        <div class="single-icon">
                                            <a href="#">
                                                <i class="fa fa-heart"></i>
                                                <p>Bloginlove</p>
                                            </a>
                                        </div><!-- /.single-icon -->
                                        <div class="single-icon">
                                            <a href="#">
                                                <i class="fa fa-envelope-o"></i>
                                                <p>Email</p>
                                            </a>
                                        </div><!-- /.single-icon -->
                                    </div><!-- /.social-links-area -->
                                </div><!-- /.sidebar-content -->
                            </div><!-- /.single-sidebar-widget -->
                            <div class="single-sidebar-widget">
                                <h6 class="widget-title">mailchimp widget</h6>
                                <div class="sidebar-content newsletter">
                                    <h6>newsletter</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet, consecteturs adipisicing elit,
                                        sed do eiusmod tempor incididunt.
                                    </p>
                                    <div class="newsletter-form">
                                        <form action="#" method="post">
                                            <input type="text" placeholder="First name" />
                                            <input type="text" placeholder="Your email address" />
                                            <input type="submit" value="submit" />
                                        </form>
                                    </div>
                                </div><!-- /.sidebar-content -->
                            </div><!-- /.single-sidebar-widget -->
                            <div class="single-sidebar-widget">
                                <div class="sidebar-content ad-design">
                                    <div class="ad-banner">
                                        <a href="#"><img src="~/Content/img/sidebar/ad.jpg" alt="Ad Banner" /></a>
                                        <div class="ad-banner-overlay">
                                            <div class="banner-text">
                                                <p>ad design</p>
                                                <span>310&nbsp;X&nbsp;200</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.sidebar-content -->
                            </div><!-- /.single-sidebar-widget -->
                                <div class="single-sidebar-widget">
                                    <h6 class="widget-title">categories</h6>
                                    <div class="sidebar-content">
                                        <div class="categories-list">
                                            <ul>
                                                <li><a href="#"><span class="category">breaking</span><span class="number">(85)</span></a></li>
                                                <li><a href="#"><span class="category">business</span><span class="number">(75)</span></a></li>
                                                <li><a href="#"><span class="category">ecommerce</span><span class="number">(66)</span></a></li>
                                                <li><a href="#"><span class="category">fashion</span><span class="number">(63)</span></a></li>
                                                <li><a href="#"><span class="category">science</span><span class="number">(55)</span></a></li>
                                                <li><a href="#"><span class="category">girl</span><span class="number">(50)</span></a></li>
                                                <li><a href="#"><span class="category">technology</span><span class="number">(42)</span></a></li>
                                                <li><a href="#"><span class="category">shopping</span><span class="number">(29)</span></a></li>
                                                <li><a href="#"><span class="category">magazine</span><span class="number">(15)</span></a></li>
                                            </ul>
                                        </div>
                                    </div><!-- /.sidebar-content -->
                                </div><!-- /.single-sidebar-widget -->
                                <div class="single-sidebar-widget">
                                    <h6 class="widget-title">archive</h6>
                                    <div class="sidebar-content">
                                        <div class="archive-list">
                                            <ul>
                                                <li><a href="#"><span class="month">march</span><span class="number">(98)</span></a></li>
                                                <li><a href="#"><span class="month">january</span><span class="number">(80)</span></a></li>
                                                <li><a href="#"><span class="month">february</span><span class="number">(60)</span></a></li>
                                                <li><a href="#"><span class="month">december</span><span class="number">(40)</span></a></li>
                                                <li><a href="#"><span class="month">october</span><span class="number">(10)</span></a></li>
                                            </ul>
                                        </div>
                                    </div><!-- /.sidebar-content -->
                                </div><!-- /.single-sidebar-widget -->
                                <div class="single-sidebar-widget">
                                    <h6 class="widget-title">tags cloud</h6>
                                    <div class="sidebar-content">
                                        <div class="tags-list">
                                            <ul>
                                                <li><a href="#">politics</a></li>
                                                <li><a href="#">business</a></li>
                                                <li><a href="#">fashion</a></li>
                                                <li><a href="#">music</a></li>
                                                <li><a href="#">travel</a></li>
                                                <li><a href="#">food</a></li>
                                                <li><a href="#">photography</a></li>
                                                <li><a href="#">technology</a></li>
                                                <li><a href="#">sport</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- /.sidebar-content -->
                                </div><!-- /.single-sidebar-widget -->
                            </div><!-- /.sidebar-area -->
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="popular-posts-area">
                            <h2 class="section-title">All posts</h2> @Html.ActionLink("Create New", "Create")
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-md-6 col-sm-6">
                                        <div class="single-popular-post">
                                            <div class="post-img">

                                                @if (item.Hero_image != null)
                                                {
                                                    <a>
                                                        @Html.Raw("<img style='width:370px; height:230px;' src=\"data:image/jpeg;base64,"
                                                  + Convert.ToBase64String(item.Hero_image) + "\" />")
                                                    </a>

                                                }
                                                else
                                                {
                                                    <a><img src="~/Content/img/blog/5.jpg" alt="Popular Post" /></a>
                                                }


                                                <a href="#" class="post-tag">travel</a>
                                                <div class="post-info">
                                                    <p>
                                                        <span class="post-date"><a href="#">July 10, 2015</a></span>
                                                        <span class="post-comments"><a href="#">3 comments</a></span>
                                                        <span class="post-social-links">
                                                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Likes"><i class="fa fa-heart"></i></a>
                                                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                                                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <h6 class="post-title">@Html.DisplayFor(modelItem => item.Name)</h6>
                                                <p class="post-short-desc">
                                                    @Html.DisplayFor(modelItem => item.Short_Description)
                                                </p>
                                                <div class="continue-link">
                                                    @Html.ActionLink("Continue Reading...", "Details", new { id = item.Id })
                                                </div>
                                            </div>
                                        </div><!-- /.single-popular-post -->
                                    </div>

                                }
                            </div>
                        </div><!-- /.popular-posts-area -->
                        <!-- latest-reviews-area start -->
                        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content-area end -->
        <!-- jquery
    ============================================ -->
        <script src="~/Content/js/vendor/jquery-1.11.3.min.js"></script>
        <!-- bootstrap JS
    ============================================ -->
        <script src="~/Content/js/bootstrap.min.js"></script>
        <!-- meanmenu JS
    ============================================ -->
        <script src="~/Content/js/jquery.meanmenu.js"></script>
        <!-- owl.carousel JS
    ============================================ -->
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <!-- scrollUp JS
    ============================================ -->
        <script src="~/Content/js/jquery.scrollUp.min.js"></script>
        <!-- plugins JS
    ============================================ -->
        <script src="~/Content/js/plugins.js"></script>
        <!-- main JS
    ============================================ -->
        <script src="~/Content/js/main.js"></script>
    </body>
    </html>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Short_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hero_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Short_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hero_image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
